.progress-bar {
  position: fixed;
  top: 0;
  width: 100vw;
}

.page3-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page3-opening-text {
  color: #d81656;
  font-weight: 700;
  font-size: 24px;
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.page3-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.page3-text {
  font-weight: 700;
  font-size: 24px;
}
