

.page6-icon {
  width: 50px;

}

.page6-text {
  color: #d81656;
  font-weight: 700;
  font-size: 24px;
  width: 400px;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.page6-warning-text {
  font-weight: 400;
  font-size: 14px;
  width: 400px;
  margin-bottom: 15px;
}

.page6-input {
  border-radius: 8px;
  width: 448px;
  height: 40px;
  border: none;
  margin-bottom: 15px;
}


@media (max-width: 540px) {
    .page6-text {
      width: 220px;
    }

    .page6-warning-text{
        width: 220px;
    }

    .page6-input{
        width: 200px;
    }
  }
  
